
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 130.3rem;
}.desktop-1-q6d {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 19.4rem;
  display: flex;
  flex-direction: column;

  .auto-group-vf9f-1fK {
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:61be33c7d105e0870d21d3da930dd45996bf2ab1');
    box-sizing: border-box;
    padding: 5.4rem 6.5rem 15.6rem 6.5rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-position: center;

    .auto-group-v7hf-mRX {
      margin: 0rem 9.8rem 6.7rem 0rem;
      width: calc(100% - 9.8rem);
      height: 6.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .defendhub-fG1 {
        font-weight: 400;
        line-height: 1.1425;
        color: #ffffff;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 25.4rem;
        font-size: 6rem;
      }
      .navbar-wzD {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 2.1rem 0rem 1.2rem 0rem;
        height: calc(100% - 3.3rem);

        .home-HHP {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 9.8rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Lao Sans Pro, 'Source Sans Pro';
        }
        .description-zxV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Lao Sans Pro, 'Source Sans Pro';
        }
        .about-us-7XK {
          font-family: Lao Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
        }
      }
    }
    .your-peace-of-mind-safeguarded-at-every-door-with-our-comprehensive-home-security-system-ensuring-safety-and-serenity-always-more-pgd {
      flex-shrink: 0;
      margin: 0rem 3rem 5.6rem 0rem;
      max-width: 91.3rem;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Merriweather Sans, 'Source Sans Pro';
    }
    .group-1-TUh {
      height: 6.6rem;
      display: flex;
      align-items: center;
      border-radius: 1.8rem;
      flex-shrink: 0;
      margin: 0 32.3rem;
      width: calc(100% - 64.6rem);

      .auto-group-sqwm-P7T {
        box-sizing: border-box;
        padding: 1.1rem 4.7rem 1.195rem 5.001rem;
        height: 100%;
        display: flex;
        background-color: #ffffff;
        border-radius: 1.8rem;
        margin-right: 2.5rem;
        align-items: center;
        flex-shrink: 0;

        .vector-VwB {
          margin-right: 0.5904rem;
          width: 3.909rem;
          height: 4.3047rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .github-Eds {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.0953rem;
          font-size: 3rem;
          font-weight: 800;
          line-height: 1.2575;
          color: #000000;
          font-family: Merriweather Sans, 'Source Sans Pro';
        }
      }
      .auto-group-rycy-uV7 {
        box-sizing: border-box;
        padding: 1.7rem 4.4rem 1.643rem 4.4rem;
        height: 100%;
        border: solid 0.3rem #ffffff;
        border-radius: 1.8rem;
        flex-shrink: 0;

        .logos-youtube-3bK {
          vertical-align: top;
          width: 16.2999rem;
          height: 3.2574rem;
          position: relative;
          object-fit: contain;
        }
      }
    }
  }
  .auto-group-vtjw-WE1 {
    padding: 6.4rem 5.5rem 10.9rem 6.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f5ff;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-w2lm-Efo {
      margin: 0rem 1.7rem 9.1rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .recognition-nBX {
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Ligconsolata, 'Source Sans Pro';
        white-space: nowrap;
      }
      .our-home-security-system-uses-opencv-facerecognition-and-python-to-scan-live-video-feeds-recognizing-authorized-individuals-from-a-stored-dataset-upon-detecting-a-known-face-it-grants-access-and-triggers-alerts-for-unknown-individuals-the-system-immediately-initiates-security-measures-by-sending-an-email-notification-with-an-intruders-image-ensuring-swift-response-to-potential-threats-by-seamlessly-integrating-facial-recognition-our-system-offers-efficient-security-and-real-time-monitoring-promising-heightened-safety-and-peace-of-mind-for-your-home-7Uh {
        font-family: Kokoro, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 73.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
      }
    }
    .item-3-1-zgu {
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin-top: 2.7rem;
      width: 43.1rem;
      height: 47rem;
    }
  }
  .auto-group-mwmk-V7s {
    padding: 5.7rem 6.5rem 5.3rem 6.5rem;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:b04aa9ab8d371a39fe00098e0abe2d7a357d91dc');
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-shrink: 0;

    .group-4-cTP {
      margin-bottom: 0.4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-4pbf-ZNd {
        margin-bottom: 2.9rem;
        width: 40.3rem;
        height: 10.1rem;
        position: relative;
        flex-shrink: 0;

        .about-us-Vn5 {
          position: absolute;
          left: 0;
          top: 0;
          white-space: nowrap;
          color: #ffffff;
          font-family: Ligconsolata, 'Source Sans Pro';
          width: 23.8rem;
          height: 7.6rem;
          font-size: 6rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .we-are-students-of-nust-CgV {
          white-space: nowrap;
          width: 40.3rem;
          height: 3.8rem;
          letter-spacing: 0.42rem;
          color: #e7e7e7;
          font-family: Lao Muang Khong, 'Source Sans Pro';
          line-height: 1.2575;
          position: absolute;
          left: 0;
          top: 6.3rem;
          font-size: 3rem;
          font-weight: 400;
        }
      }
      .welcome-were-a-dedicated-team-focused-on-innovating-home-security-our-diverse-expertise-converged-to-create-a-cutting-edge-solution-driven-by-a-passion-for-safety-and-excellence-VvV {
        margin-bottom: 2.7rem;
        max-width: 68.9rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #e7e7e7;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .challenges-fueled-our-progress-our-goal-safer-homes-through-technology-with-unwavering-dedication-we-aim-to-ensure-peace-of-mind-for-all-5Nu {
        flex-shrink: 0;
        max-width: 67rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #e7e7e7;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-lemj-MLR {
      width: calc(100% - 22rem);
      height: 18.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 22rem;

      .group-2-Hjs {
        flex-shrink: 0;
        margin: 5.2rem 12.4rem 4.5rem 0rem;
        height: calc(100% - 9.7rem);
        display: flex;
        align-items: flex-start;

        .auto-group-tk9s-RbB {
          margin-right: 10.2rem;
          width: 8.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item-2-aDB {
            font-weight: 700;
            line-height: 1.2575;
            letter-spacing: 0.63rem;
            color: #f3f3f3;
            font-family: Mplus 1p Bold, 'Source Sans Pro';
            white-space: nowrap;
            height: 5.7rem;
            position: absolute;
            top: 0;
            font-size: 4.5rem;
            width: 3.1rem;
            left: 0;
          }
          .yrs-P49 {
            width: 2.5rem;
            position: absolute;
            left: 4.1rem;
            font-size: 2rem;
            line-height: 1.2575;
            font-family: Mplus 1p, 'Source Sans Pro';
            height: 2.6rem;
            top: 2rem;
            font-weight: 400;
            color: #e7e7e7;
            white-space: nowrap;
          }
          .experience-UbP {
            white-space: nowrap;
            left: 0;
            top: 4.5rem;
            font-weight: 400;
            color: #e6e6e6;
            font-family: Moulpali, 'Source Sans Pro';
            width: 8.7rem;
            height: 4.4rem;
            position: absolute;
            font-size: 2rem;
            line-height: 2.1975;
          }
        }
        .auto-group-gurz-NRs {
          width: 6.4rem;
          height: 8.7rem;
          position: relative;
          flex-shrink: 0;

          .item-4-iVj {
            height: 5.7rem;
            position: absolute;
            font-size: 4.5rem;
            letter-spacing: 0.63rem;
            font-family: Mplus 1p Bold, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.1rem;
            left: 0;
            top: 0;
            font-weight: 700;
            line-height: 1.2575;
            color: #f3f3f3;
          }
          .item--qKT {
            top: 2rem;
            font-size: 2rem;
            line-height: 1.2575;
            width: 1rem;
            height: 2.6rem;
            position: absolute;
            left: 4.1rem;
            font-weight: 400;
            color: #e7e7e7;
            font-family: Mplus 1p, 'Source Sans Pro';
            white-space: nowrap;
          }
          .projects-Yjf {
            white-space: nowrap;
            width: 6.4rem;
            left: 0;
            font-size: 2rem;
            color: #e7e7e7;
            font-family: Moulpali, 'Source Sans Pro';
            height: 4.4rem;
            position: absolute;
            top: 4.3rem;
            font-weight: 400;
            line-height: 2.1975;
          }
        }
      }
      .group-3-s1F {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-xxpq-RYZ {
          width: 13.5rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 4.5rem;

          .ellipse-1-aRT {
            background-image: url('REPLACE_IMAGE:6b4ec6b0f8b14ae5308cf629bfdc5c6300c89ef2');
            border-radius: 6.75rem;
            margin-bottom: 2.5rem;
            width: 100%;
            height: 13.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
          .sarmad-shabir-JcM {
            line-height: 1.2575;
            color: #e7e7e7;
            font-family: Mplus 1p Bold, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 700;
          }
        }
        .auto-group-q3yh-2HT {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 5.5rem;
          width: 19.6rem;
          height: 100%;
          align-items: center;
          display: flex;

          .ellipse-2-Ymb {
            background-size: 100% 100%;
            border-radius: 6.75rem;
            width: calc(100% - 6.1rem);
            height: 13.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:243b41041d8dc0913abcf8afb0e7cce15bf557a2');
            flex-shrink: 0;
            margin: 0rem 2.1rem 2.5rem 4rem;
          }
          .syed-muhammad-afaq-r1b {
            color: #e7e7e7;
            font-family: Mplus 1p Bold, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2575;
          }
        }
        .auto-group-7ps3-BJm {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .ellipse-3-XNd {
            width: 13.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:9191faf72ba54428436a3b195d82da00c778fe27');
            flex-shrink: 0;
            margin: 0rem 0.1rem 2.5rem 0rem;
            height: 13.5rem;
            background-position: center;
            border-radius: 6.75rem;
          }
          .abdullah-naeem-2KP {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2575;
            color: #e7e7e7;
            font-family: Mplus 1p Bold, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
